---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ProductsSection from '../components/Products/ProductsSection.astro';

---

<Layout title="Inicio">
	<Header/>
	<section class="bg-[url('/img/hero-img.jpg')] bg-cover bg-center h-screen flex items-center">
		<div class="container mx-auto text-center text-white px-6">
			<h1 class="text-4xl md:text-6xl font-bold mb-4">Fertilizantes e Insecticidas Orgánicos</h1>
			<p class="text-lg md:text-2xl mb-8">Soluciones 100% naturales para un mundo mejor.</p>
			<a href="#productos" class="bg-green-200 text-green-900 px-6 py-3 rounded-md text-lg font-semibold hover:bg-green-300 duration-200">Conocé Nuestros Productos</a>
		</div>
	</section>
	<ProductsSection/>
	  
</Layout>
