---
import { Image } from "astro:assets";
const phoneNumber = '+5491159606813';
const defaultMessage = encodeURIComponent('Hola! Me gustaría recibir más información sobre sus productos.');
const whatsappLink = `https://wa.me/${phoneNumber}?text=${defaultMessage}`;
---

<footer class="bg-gray-800 text-gray-300 py-8">
   <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-6">
      <!-- Sección: Información de Contacto -->
      <div>
         <h3 class="text-xl font-bold mb-4 text-white">Contacto</h3>
         <p><strong>Email:</strong> ecorganico.distribuidora@gmail.com</p>
         <p><strong>Teléfono:</strong> +54 9 11 5960-6813</p>
         <a href={whatsappLink} class="flex items-center gap-2 hover:text-gray-200"><Image src="/svg/Wpp.svg" alt="WhatsApp Svg" width={300} height={300} class="w-8" /> WhatsApp </a>
      </div>

      <div>
         <h3 class="text-xl font-bold mb-4 text-white">Enlaces Rápidos</h3>
         <ul class="space-y-2">
            <li><a href="#inicio" class="hover:text-green-400">Inicio</a></li>
            <li>
               <a href="#productos" class="hover:text-green-400">Productos</a>
            </li>
            <li>
               <a href="#nosotros" class="hover:text-green-400">Nosotros</a>
            </li>
            <li>
               <a href="#contacto" class="hover:text-green-400">Contacto</a>
            </li>
         </ul>
      </div>
   </div>

   <!-- Línea de Separación -->
   <div class="border-t border-gray-700 mt-8 text-center text-sm pt-4">
      <p>&copy; 2024 Ecorganico. Derechos reservados.</p>
   </div>
</footer>
