<section id="nosotros" class="mt-20 bg-green-100 p-10 text-green-950">
   <h2 class="text-center text-4xl uppercase font-bold mb-10">
      ¿Quienes Somos?
   </h2>
   <div class="flex justify-between w-2/3 mx-auto gap-20 items-center">
      <p class="text-lg prose">
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius nostrum
         unde, sed in, libero alias facere, ea nemo distinctio hic recusandae
         laboriosam voluptatem aliquid eum explicabo consequuntur delectus ab
         possimus? Vitae recusandae molestiae veniam dolores dicta facere
         incidunt repellendus accusamus ad placeat veritatis, nihil labore
         laborum quaerat cum. Neque praesentium velit id aperiam cupiditate
         aspernatur? Nam consectetur quas mollitia iure.
      </p>
      <img src="/img/us.jpg" alt="" class="w-[32rem] rounded-md">
   </div>
</section>
