<section id="nosotros" class=" bg-green-100 p-10 text-green-950">
   <h2 class="text-center text-4xl uppercase font-bold mb-10">
      ¿Quienes Somos?
   </h2>
   <div class="flex justify-between w-2/3 mx-auto gap-20 items-center">
      <p class="text-lg prose">
         Aca va un poco de info
      </p>
      <img src="/img/us.jpg" alt="" class="w-[32rem] rounded-md">
   </div>
</section>
