<section id="nosotros" class="bg-green-100 p-20 scroll-mt-[5rem]">
   <h2 class="text-center text-5xl uppercase font-bold mb-10 text-green-950">
      ¿Quienes Somos?
   </h2>
   <div
      class="flex flex-col w-4/5 gap-10 justify-between md:w-2/3 mx-auto md:gap-20 items-center text-green-900"
   >
      <div class="space-y-5 text-xl">
         <p class="text-2xl md:text-xl prose text-green-900 whitespace-pre-line">
            Somos una empresa familiar dedicada a la <span class="font-semibold"
            >distribución</span
         > de
            fertilizantes e insecticidas <span class="font-semibold"
               >orgánicos</span
            >. Trabajamos para promover prácticas agrícolas sostenibles, ofreciendo soluciones naturales que cuidan el medio ambiente y la salud de las personas. 
            Con un compromiso firme hacia la calidad y la confianza, nos esforzamos por brindar un servicio cercano y eficiente, ayudando a construir un futuro más verde y equilibrado.
         </p>
         <div class="space-y-2 flex justify-around">
            <img src="/svg/Plant.svg" alt="" class="mr-3" />
            <img src="/svg/Truck.svg" alt="" class="mr-3" />
            <img src="/svg/People.svg" alt="" class="mr-3" />
         </div>
      </div>
      <img src="/img/us.jpg" alt="" class="w-[32rem] rounded-md" />
   </div>
</section>
