---
import { getCollection } from "astro:content"
import ProductCard from './Products/ProductCard.astro'

const products = await getCollection('products')
---


<section id="productos">
    
    {
        products.map((product, index) => 
            <ProductCard
                product={product}
                index={index}
            />
        )
    }
</section>