---
import { getCollection } from "astro:content";
import Products from "./Products/Products.astro";

const products = await getCollection("products");

export const prerender = true;
---

<section id="productos" class="scroll-mt-[5rem]">
   <Products products={products} />
</section>
